<div class="center measure">
<h2 class="f1">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="mv3">
    <%= f.label :username %><br />
    <%= f.text_field :username, class:'b pa2 input-reset ba bg-transparent hover-bg-navy hover-white w-100' %><br />
  </div>
  <div class="mv3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:'b pa2 input-reset ba bg-transparent hover-bg-navy hover-white w-100' %>
  </div>
  <div class="mv3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:'b pa2 input-reset ba bg-transparent hover-bg-navy hover-white w-100' %>
  </div>

  <div class="mv3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'b pa2 input-reset ba bg-transparent hover-bg-navy hover-white w-100' %>
  </div>

  <div class="mv3">
    <%= f.submit "Sign up", class:'b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
